nav {
    height: 100%;
}

.side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.side-nav-button:hover{
    background-color: rgba($color: #000000, $alpha: 1.0);
    border-radius: 30%;
}